<script>
    // Components
    // Libraries
    import {locale, t} from '$lib/translations';
</script>
<div class="container my-1">
  <div class="row">
<div class="col col-lg sm-col-12 lg-col-4 md-col-6">
<img src="/xyz.png" alt="" class="img-fluid m-5 p-4 hovery" width="256px" height="256px">  
</div>
<div class="col col-lg col-lg-8 col-8">
  <br>
  <h1 class="m-5 p-4">Привет! Я Agamurian, медиа&#8209;художник, разработчик и 3D&nbsp;Дженералист</h1>
</div>

  </div>

</div>
  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->
<div class="container my-4">
<div class="card text-white bg-dark halfblack m-2 mb-5 sticky-top" style="max-width: 100%;">
  <a href="https://skis.host"><div class="card-header btn">SKIS</div></a>
  <div class="card-body">
<img src="/skis_about.webp" class="img-fluid p-4"/>
        <p class="card-text">Динамическая загрузка, пререндер markdown и генератор статичных сайтов</p>
  <h3>sveltekit + mdsvex + i18n + bootstrap5</h3>
  <p>Делайте быстрые сайты, быстро.</p>
</div>
<br><br>
  </div>
</div>
  <div class="container marketing">

    <div class="row">
      <div class="col-lg-4">

        <h2 class="d-sticky sticky ">Web dev:</h2>
<div class="card text-white bg-dark halfblack m-2 mb-5 sticky-top" style="max-width: 99%;">
  <a href="https://skis.host"><div class="card-header btn h2">SKIS</div></a>
  <div class="card-body">
        <h2>Построен на sveltekit</h2>
        <p class="card-text">Динамическая загрузка, пререндер markdown и генератор статичных сайтов</p>
  </div>
</div>
<div class="card text-white bg-dark halfblack m-2 mb-5 sticky-top" style="max-width: 99%;">
  <a href="https://gitlab.com/agamura/xyz/"><div class="card-header btn h2">Исходный код</div></a>
  <div class="card-body">
        <h2>Этот сайт</h2>
        <p class="card-text">Сделал я на своем фреймфорке Лыжи</p>
  </div>
</div>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">

        <a href="3d"><h2>3D Graphics:</h2></a>
<div class="card text-white bg-dark halfblack m-2 mb-5 sticky-top" style="max-width: 99%;">
  <a href="3d/rig"><div class="card-header btn h2 ">RIG</div></a>
  <div class="card-body">
        <h2>Rig & Animation</h2>
        <p class="card-text">Animations suitable for game engines</p>
  </div>
</div>
<div class="card text-white bg-dark halfblack m-2 mb-5 sticky-top" style="max-width: 99%;">
  <a href="3d/param_anim"><div class="card-header btn h2">Param_anim</div></a>
  <div class="card-body">
        <h2>Параметрическая анимация:</h2>
        <p class="card-text">with noise, sin & limits in Blender</p>
  </div>
</div>
<br>
        <a class="btn btn-secondary" href="gallery">Галерея</a>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">

        <h2>Системный уровень:</h2>
<div class="card text-white bg-dark halfblack m-2 mb-5 sticky-top" style="max-width: 99%;">
  <a href="projects/procrastinator"><div class="card-header btn h2">Прокрастинатор</div></a>
  <div class="card-body">
    <img class="img-fluid rounded" src="https://raw.githubusercontent.com/agamurian/agamurian.github.io/master/assets/img/005.png" />
        <h2>Прокрастинатор:</h2>
        <p class="card-text">scripting pseudo-interactive realtime narrative</p>
  </div>
</div>
<div class="card text-white bg-dark halfblack m-2 mb-5 sticky-top" style="max-width: 99%;">
  <a href="http://cheburashka-os.ru/en/"><div class="card-header btn h2">Чебурашка OS</div></a>
  <div class="card-body">
        <h2>Чебурашка OS</h2>
  </div>
</div>
        <a href="mailto:agamurian@outlook.com">Пишите мне на электропочту</a>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <!-- Three columns of text below the carousel -->
  </div><!-- /.container -->
