<script>
    import {onMount} from "svelte";
    import {t} from '$lib/translations'
    import {ClassColorScheme, colorScheme} from "$lib/shares/js/ClassColorScheme/ClassColorScheme"

    let colorSchemeController
    let elementClassName = ['curPoi', 'notSel']
    const elementTitleText = `common.colorScheme.${$colorScheme}`
    export let mode,
        className

    if (className) {
        elementClassName.push(className)
    }

    const switcherColorScheme = () => {
        colorSchemeController.switch()
    }

    onMount(async () => {
        colorSchemeController = new ClassColorScheme()
    })
</script>

{#if mode === 'string'}
    <a class={elementClassName.join(' ')} title={$t(elementTitleText)} on:click={switcherColorScheme}
       href={"javascript:void(0)"}>
        {$t(`common.colorScheme.${$colorScheme}To`)}
    </a>
{:else}
    <span class={elementClassName.join(' ')} title="change language en|ru" on:click={switcherColorScheme}>
        <div style="padding: 0px; width: 20px; height: 20px;background-color:white;border-radius: 10px; margin: 2px; border: solid 3px black;overflow:hidden">
            <span style="padding: 0, margin: 0; width: 12px; height: 20px; background-color:black;z-index:150001;"></span>
            <span style="padding: 0, margin: 0; width: 12px; height: 20px; background-color:white"></span>
        </div>
    </span>
{/if}
