@import "variable";

:global {
  html[data-color-scheme] {
    body {
      text-rendering: optimizeLegibility;
      color: var(--main-font-color);
      display: flex;
      flex-direction: column;
      height:100%;
      font-family: 'Fira Code', monospace;
      transition: all 0.15s ease-out;
    }


    a {
      color: var(--main-font-color);
      text-decoration: underline #8888 3px;
      transition: ease-in-out 0.25s;
      &:hover {
        color: var(--main-font-color);
        text-decoration: underline #ea7a3a9a 3px;
      }
    }

    .curPoi {
      cursor: pointer;
    }

    .halfblack {
      border-radius: 5px;
      background-color: #f00a;
    }

    p {
      background-color: #fff0;
      transition: ease-in-out 0.5s;
      padding: 2px;
      border-radius: 5px;
      &:hover{
        background-color: #7a7a7a2a;
      }
    }
    .btn {
      border-radius: 5px;
      border: 3px dotted;
      background-color: #0004;
      border-color: black;
      opacity: 86%;
      color: white;
      transition: ease-in-out 0.35s;
      &:hover {
        color:rgb(239, 211, 184);
        background-color:#e08906aa;
      }
    }
    .rounded {
      border-radius: 5px;
    }

    hr {
      border-top: 3px saddlebrown dashed;
    }

    h1, h2, h3, h4, h5, h6 {
      font-family: 'Fira Code', monospace;
    }
    .card {
      display: block;
      border:3px;
      background-color: #eeeeeeee;
      padding: 3;
      margin:00px;
      margin-left: 0px;
      margin-left: 0px;
      padding-right: 0px;
      padding-right: 0px;
      background-color: #8888;
      padding: 1rem;
    }

    .colinher {
      color: inherit;
      background-color: --main-bg-color;
      z-index: 50;
      padding-bottom: 10em;
    }

    .column {
      -webkit-column-width: 200px;
      -moz-column-width: 200px;
      column-width: 200px;
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
      -webkit-column-gap: 2em;
      -moz-column-gap: 2em;
      column-gap: 2em;
      -webkit-column-rule: 2px dashed #cccc;
      -moz-column-rule: 2px dashed #cccc;
      column-rule: 2px solid #cccc;
      padding: 2em;
    }

    .notSel {
      user-select: none;
    }
    .container {
      padding-top: 6rem;
        p {
        font-family: 'Fira Code';
        transition: 1s ease;
        }
    }

    code {
      font-family: 'Fira Code'; 
      padding-top: 25px;
      font-size: large;
    }
    
      .hovery{
        transition: 7s ease-in;
        filter: blur(0px) hue-rotate(210deg);
        &:hover{
          transition: 3s ease-out;
        filter: blur(140px) hue-rotate(-370deg);
        }
      }

  }
}
